<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>ArtWomen - Mujeres que hicieron historia</title>

    <!-- Favicon -->
    <link rel="icon" th:href="@{/img/favicon.ico}" type="image/x-icon" />

    <!-- Estilos -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}" />
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/main.css}" />
    <link rel="stylesheet" th:href="@{/css/minified.css}" />
    <link rel="stylesheet" th:href="@{/css/colors.css}" />
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
<div th:replace="fragments/header :: header(${usuarioLogueado}, ${nombreUsuario})"></div>
<main>

    <figure>
        <img src="/img/portadas/pantalones-ulu.png" alt="Pantalones de Ulu de Leonora Carrington">
    </figure>

    <div class="volver">
        <div class="forma-linea-h d-none d-md-block">
            <div class="circulo-flecha">
                <img src="/img/icons/arrow-left.svg" alt="Flecha" class="flecha-svg">
            </div>
            <div class="linea-horizontal-volver"></div>
            <p>Volver</p>
            <a href="/cuenta.html" class="stretched-link"></a>
        </div>
    </div>

    <div class="container contenedor-crear">
        <figure class="logo">
            <img src="/img/logo.png" alt="ArtWomen">
        </figure>
    </div>

    <section class="formulario-creacion-cuenta">

        <form method="post" action="/crear-cuenta" enctype="multipart/form-data" id="form-crear-cuenta" name="crearCuenta">
            <div class="titulo-formulario-creacion-cuenta">
                <h2>Créate una cuenta</h2>
                <p>Los campos <span>*</span> son obligatorios</p>
            </div>
            <div class="container formulario-creacion-cuenta formularios">
                <div class="row">
                    <div class="col-12 col-sm-4">
                        <p>Nombre<span>*</span>:</p>
                    </div>
                    <div class="col-12 col-sm-8">
                        <input type="text" class="form-control" value="" required name="nombreUsuario">
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-sm-4">
                        <p>Apellidos<span>*</span>:</p>
                    </div>
                    <div class="col-12 col-sm-8">
                        <input type="text" class="form-control" value="" required name="apellidoUsuario">
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-sm-4">
                        <p>Correo<span>*</span>:</p>
                    </div>
                    <div class="col-12 col-sm-8">
                        <input type="email" class="form-control" value="" required name="correoUsuario">
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-sm-4">
                        <p>Nick de usuario<span>*</span>:</p>
                    </div>
                    <div class="col-12 col-sm-8">
                        <input type="text" class="form-control" value="" required name="nickUsuario">
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-sm-4">
                        <p>Contraseña<span>*</span>:</p>
                    </div>
                    <div class="col-12 col-sm-8">
                        <input type="password" class="form-control" value="" required name="contrasenhaUsuario">
                    </div>
                </div>
            </div>
            <div class="container-fluid h-100">
                <div class="row w-100 align-items-center">
                    <div class="col text-center">
                        <button class="btn btn-secondary boton-registrar" type="submit" name="registrarUsuario" id="btn_registrar">Registrarse</button>
                    </div>
                </div>
            </div>

            <div class="container login-cuenta">
                <a href="/cuenta.html">¿Tienes ya cuenta? Inicia sesión</a>
            </div>
        </form>
    </section>

    <!-- Div oculto para pasar mensajes del backend -->
    <div id="flash-messages"
         data-success="${success != null ? success : ''}"
         data-error="${error != null ? error : ''}"
         style="display:none;"></div>

    <!-- Modal Bootstrap para mostrar mensajes -->
    <div class="modal fade" id="mensajeModal" tabindex="-1" aria-labelledby="mensajeModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div id="modalHeader" class="modal-header">
                    <h5 class="modal-title" id="mensajeModalLabel">Mensaje</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                </div>
                <div id="modalBody" class="modal-body"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="volver">
        <div class="forma-linea-h d-none d-md-block">
            <div class="circulo-flecha">
                <img src="/img/icons/arrow-left.svg" alt="Flecha" class="flecha-svg">
            </div>
            <div class="linea-horizontal-volver"></div>
            <p>Volver</p>
            <a href="/cuenta.html" class="stretched-link"></a>
        </div>
    </div>

</main>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>